header {
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
    gap: 1rem; 
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.tittle {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin: 1rem;
}

.title img {
    width: 80px;
    height: auto; 
}

.title h1 {
    font-size: 30px;
    font-weight: 200;
    margin: 0;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(39, 37, 37);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

nav li a {
    padding: 1rem;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(243, 233, 233);
    white-space: nowrap;
}

main h1 {
    color: rgb(22, 22, 22);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

.card-container h2 {
    background-color: rgb(41, 39, 39);
    color: white;
    padding: 1rem; 
}

.card-1, .card-2 {
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(167, 157, 157); 
    box-shadow: 0 4px 8px gray;
}

.card-2 img {
    place-items: center;
    width: 250px;
    margin: 2.5rem;
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgb(105, 101, 101)
}

.card-1 p {
    font-size: 25px;
    margin: 1rem;
}

h3 {
    display: flex; 
    justify-content: center;
    background-color: rgb(71, 69, 69);
    color: white;
    align-items: center;
    padding: 1rem;
    font-size: 20px;
    font-weight: 250;
}

aside li {
    display: grid;
    justify-content: center;
    align-items: space-between;
}