header {
    display: flex;
}

header img {
    width: 30px;
    height: auto;
    margin: 1rem;
    padding-bottom: 1rem;
}

header h1 {
    margin: 1rem;
    font-size: 30px;
    font-weight: 400;
}

header a {
    align-items: space-between;
    justify-content: center; 
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}